{% extends 'base.html' %}
{% load static %}
{% block nav %}
<nav id="navbar" class="navbar nav-menu">
  <ul>
    <li><a href="{% url 'inicioes' %}" class=""><img src="{% static 'img/co.png' %}" width=40 height=40></a>
    <li><a href="{% url 'inicioen' %}" class=""><img src="{% static 'img/en.png' %}" width=40 height=40></a>
    <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Inicio</span></a></li>
    <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>Yo</span></a></li>
    <li><a href="#portfolio" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Portafolio</span></a></li>
    <li><a href="#services" class="nav-link scrollto"><i class="bx bx-server"></i> <span>Servicios</span></a></li>
    <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contacto</span></a></li>
  </ul>
</nav><!-- .nav-menu -->
{% endblock nav %}
{% block content %}
    <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center">
    <div class="container" data-aos="zoom-in" data-aos-delay="100">
      <h1>Duane Abreu</h1>
      <p>Yo soy <span class="typed" data-typed-items="Bailarín, Profesor, Artista, Coreógrafo"></span></p>
      <div class="social-links">
        <a href="mailto:prfduanebogota@gmail.com" class="gmail"><i class="bx bxl-gmail"></i></a>
        <a href="https://wa.me/573223654576" class="whatsapp"><i class="bx bxl-whatsapp"></i></a>
        <a href="https://www.instagram.com/bachataduane/" class="instagram"><i class="bx bxl-instagram"></i></a>
        
      </div>
    </div>
  </section><!-- End Hero -->

{% endblock content %}

{% block content2 %}
  <section id="about" class="about">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Un poco de mi</h2>
      <p>Soy un bailarín profesional con casi 14 años de experiencia en el medio. Domino los géneros de Salsa en Línea, Salsa Cubana y Bachata Sensual. Mi pasión es enseñar a bailar, llevo todos estos años desarrollando y aprendiendo diferentes metodologías para implementar una enseñanza adecuada.</p>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <img src="{% static 'img/perfil.jpg' %}" class="img-fluid" alt="">
      </div>
      <div class="col-lg-8 pt-4 pt-lg-0 content">
        <h3>Bailarín Profesional / Profesor y Coreógrafo</h3>
        <p class="fst-italic">
          Un poco de mi información personal para que me conozcan.
        </p>
        <div class="row">
          <div class="col-lg-6">
            <ul>
              <li><i class="bi bi-chevron-right"></i> <strong>Cumpleaños:</strong> <span>25 Marzo</span></li>
              <li><i class="bi bi-chevron-right"></i> <strong>Instagram:</strong> <span>@bachataduane</span></li>
              <li><i class="bi bi-chevron-right"></i> <strong>Teléfono:</strong> <span>+57 3223654576</span></li>
              <li><i class="bi bi-chevron-right"></i> <strong>Residencia:</strong> <span>Bogotá, Colombia</span></li>
            </ul>
          </div>
          <div class="col-lg-6">
            <ul>
              <li><i class="bi bi-chevron-right"></i> <strong>Edad:</strong> <span>27</span></li>
              <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>prfduanebogota@gmail.com</span></li>
              <li><i class="bi bi-chevron-right"></i> <strong>Especialidad:</strong> <span>Bachata Sensual</span></li>
              <li><i class="bi bi-chevron-right"></i> <strong>Géneros:</strong> <span>Salsa On1, Salsa Cubana</span></li>
            </ul>
          </div>
        </div>
        <p>
          Soy nacido en Venezuela, Valencia estado Carabobo. En el año 2018 llegué a Bogotá con el sueño de enseñar mi arte, mi baile, lo que he aprendido por tantos años. Fue un camino realmente duro y aún siguen habiendo obstaculos y complicaciones. Pero nunca me rindo, aquí seguimos,
        </p>
      </div>
    </div>

  </div>
  </section><!-- End About Section -->
{% endblock content2 %}

{% block portafolio %}
  <!-- ======= Portfolio Section ======= -->
  <section id="portfolio" class="portfolio section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Portafolio</h2>
        <p>Les dejo algo de mi trabajo, como les comenté mi especialidad es la Bachata Sensual. Para ver más pueden ir a mi Instagram.</p>
      </div>
      <table>
        <tr>
          {% for video in videos %}
            <td class="video-cell">
              <iframe width="290" height="500" src="{{ video.url }}?rel=0&showinfo=0&controls=1&Modestbranding=1"></iframe>

            </td>
            {% if forloop.counter|divisibleby:3 and not forloop.last %}
              </tr><tr>
            {% endif %}
          {% endfor %}
        </tr>
      </table>


      

    </div>
  </section><!-- End Portfolio Section -->

{% endblock portafolio %}

{% block servicios %}
  <!-- ======= Services Section ======= -->
  <section id="services" class="services">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Servicios de Clases</h2>
        <p>Con mis clases podrás aprender a bailar de forma fluida con cualquier persona del mundo en la comodidad de tu casa o en la ubicación que prefieras para tomar las clases en el horario que más cómodo sea para ti. Recuerda preguntar por disponibilidad.</p>
      </div>

      <div class="row">

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon-box iconbox-blue">
            <div class="icon">
              <img src="{% static 'img/numero-uno.png' %}" width="100" height="100">
              
            </div>
            <h4><a href="">Una sola clase</a></h4>
            <p>$75.000 COP<br>
              18 USD <br>
            Una clase con duración de 60 minutos.</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box iconbox-orange ">
            <div class="icon">
              <img src="{% static 'img/numero-5.png' %}" width="100" height="100">
            </div>
            <h4><a href="">Cinco clases</a></h4>
            <p>$350.000 COP<br>
              85 USD<br>
            Cinco clases de 60 minutos cada una.</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box iconbox-pink">
            <div class="icon">
              <img src="{% static 'img/numero-8.png' %}" width="100" height="100">
            </div>
            <h4><a href="">Ocho clases</a></h4>
            <p>$520.000 COP<br>
              128 USD<br>
            Ocho clases de 60 minutos cada una.</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon-box iconbox-yellow">
            <div class="icon">
              <img src="{% static 'img/numero-10.png' %}" width="100" height="100">
            </div>
            <h4><a href="">Diez clases</a></h4>
            <p>$600.000 COP<br>
              150 USD<br>
            Diez clases de 60 minutos cada una.</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box iconbox-red">
            <div class="icon">
              <img src="{% static 'img/numero-15.png' %}" width="100" height="100">
            </div>
            <h4><a href="">Quince clases</a></h4>
            <p>$825.000 COP<br>
              210 USD<br>
              Quince clases de 60 minutos cada una.</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box iconbox-teal">
            <div class="icon">
              <img src="{% static 'img/numero-20.png' %}" width="100" height="100">
            </div>
            <h4><a href="">Veinte clases</a></h4>
            <p>$1.000.000 COP<br>
              265 USD<br>
            Veinte clases de 60 minutos cada una.</p>
          </div>
        </div>

      </div>
      <div class="section-title">
        <h2>Especificaciones</h2>
      </div>
        <p class="especificaciones">1. Los precios son los mismos para una(1) o dos(2) personas.<br>
        2. Los paquetes de 5, 8 y 10 clases tienen un tiempo de expiración de 8 semanas.<br>
        3. Los paquetes de 15 y 20 clases tienen un tiempo de expiración de 12 semanas.<br>
        4. Una vez finalizado el tiempo de cada paquete, este se dará por concluido aunque los estudiantes no hayan finalizado.<br>
        5. Los paquetes deben pagarse por adelantado, si no se está seguro(a) de pagar el paquete, pague por clase ya que no hay devoluciones.<br> 
        6. Para paquetes de 3 personas en adelante, se debe consultar precio.</p>
      

    </div>
  </section><!-- End Services Section -->
{% endblock servicios %}

{% block contacto %}
  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Contacto</h2>
        <p>Para más información puedes escribirme o dejar tus datos y te contactaré lo más pronto posible.</p>
      </div>

      <div class="row mt-1">

        <div class="col-lg-4">
          <div class="info">
            <div class="address">
              <i class="bi bi-geo-alt"></i>
              <h4>Ubicación:</h4>
              <p>Bogotá, Colombia</p>
            </div>

            <div class="email">
              <i class="bi bi-envelope"></i>
              <h4>Email:</h4>
              <p>prfduanebogota@gmail.com</p>
            </div>

            <div class="phone">
              <i class="bi bi-phone"></i>
              <h4>WhatsApp:</h4>
              <p>+57 3223654576</p>
            </div>

          </div>

        </div>

        <div class="col-lg-8 mt-5 mt-lg-0">
          <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
            <div class="contacto">
            <a href="https://wa.me/573223654576">
              <img src="{% static 'img/whatsapp-logo.png' %}" width=100 height=100 alt="WhatsApp logo"><h2>WhatsApp</h2>
            </a>
          </div>
          </div>
          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="contacto">
            <a href="https://www.instagram.com/bachataduane/">
              <img src="{% static 'img/instagram-logo.png' %}" width=100 height=100 alt="Instagram logo">
              <h2>Instagram</h2>
            </a>
          </div>
          </div>

        </div>

      </div>

    </div>
  </section><!-- End Contact Section -->
{% endblock contacto %}